.homepage {
  padding: 0 4rem;
  height: calc(100vh - 6.5rem); // tamanho da tela menos o do cabeçalho
  overflow-y: scroll; // aplica o scroll no container

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 1670px) {
  //Adaptação à telas menores (responsividade)
  .latestEpisodes {
    li {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
      overflow: hidden;
    }
  }
  .footers {
    margin-left: 1.5rem;
  }
}

.latestEpisodes {
  ul {
    list-style: none; // remove os marcadores de lista
    display: grid;
    grid-template-columns: 1fr 1fr; // 2 colunas ( repeat(2,1fr))
    gap: 1.5rem;

    li {
      background: var(--white);
      border: 1px solid var(--gray-100);
      padding: 1.25rem;
      border-radius: 1.5rem;
      position: relative;

      display: flex;
      align-items: center;

      img {
        width: 6rem;
        height: 6rem;
        border-radius: 1rem;
      }

      .episodeDetails {
        flex: 1;
        margin-left: 1rem;

        a {
          display: block;
          padding: 1.5rem;
          color: var(--gray-800);
          font-family: Lexand, sans-serif;
          font-weight: 600;
          text-decoration: none; //remove o underline do <a/>
          line-height: 1.4rem;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          font-size: 0.875rem;
          margin-top: 0.5rem;
          max-width: 70%; //não ocupar o espaço do botão
          white-space: nowrap; // nunca quebra de linha
          overflow: hidden; // o que passar de 70% de largura não fica visível
          text-overflow: ellipsis; //retiscências para quando tiver overflow
        }

        span {
          display: inline-block;
          margin-top: 0.5rem;
          font-size: 0.875rem;

          &:last-child {
            //criação da "bolinha" a partir do último filho
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            position: relative;

            &::before {
              //criação da "bolinha" entre os spans
              content: '';
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background: #ddd;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%); // -50% para baixo e -50% para
              //a esquerda, alinhado a "bolinha" totalmente
            }
          }
        }
      }

      button {
        position: absolute;
        right: 2rem;
        bottom: 2rem;

        width: 2.5rem;
        height: 2.5rem;
        background: var(--white);
        border: 1px solid var(--gray-100);
        border-radius: 0.675rem;
        font-size: 0; // alinha a imagem no centro do botão

        transition: 0.4s ease;

        img {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
}

.allEpisodes {
  padding-bottom: 2rem;

  table {
    width: 100%;

    th,
    td {
      padding: 0.75rem 1rem;
      border-bottom: 1px solid var(--gray-100);
    }

    th {
      color: var(--gray-200);
      text-transform: uppercase;

      font: 500 0.75rem Lexend, sans-serif;
      text-align: left;
    }

    td {
      font-size: 0.875rem;
      img {
        border-radius: 0.5rem;
      }
      a {
        color: var(--gray-800);
        font-family: Lexend, sans-serif;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.4rem;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }
      button {
        width: 2rem;
        height: 2rem;
        background: var(--white);
        border: 1px solid var(--gray-100);
        border-radius: 0.5rem;
        font-size: 0;

        transition: 0.4s ease;

        img {
          width: 1.25rem;
          height: 1.25rem;
        }

        &:hover {
          
          filter: brightness(0.95);
        }
      }
    }
  }
}



